<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/browsers/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/browsers/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/browsers/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/browsers/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/browsers/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/browsers/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/browsers/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/browsers/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/browsers/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/browsers/android-icon-192x192.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileImage" content="/images/browsers/ms-icon-144x144.png">
</head>

<body>

    <header>
        <div id="gloopy">
            <a href="{{ site.url }}" title="Weird Gloop">
                <picture>
                    <source media="(max-width: 450px)" alt="Weird Gloop" srcset="/images/Weird-Gloop-bucket.png 1x, /images/Weird-Gloop-bucket@2x.png 2x">
                    <img src="/images/Weird-Gloop-logo.png" alt="Weird Gloop" srcset="/images/Weird-Gloop-logo@2x.png 2x">
                </picture>
            </a>
        </div>
    </header>

    {{ content }}

    <footer>
      <hr>

      <ul class="links">
        <li><a href="/licensing/">Licensing</a></li>
        <li><a href="/terms/">Terms of Use</a></li>
        <li><a href="/privacy/">Privacy</a></li>
        <li><a href="https://meta.weirdgloop.org/">Meta Wiki</a></li>
        <li><a href="https://meta.weirdgloop.org/w/Special:Contact">Contact</a></li>
      </ul>

      <hr>

      <p class="legal">
        &copy; 2019 Weird Gloop Limited, Union House, 111 New Union Street, Coventry, England, CV1 2NT, UK.<br>
        RuneScape and RuneScape Old School are the trademarks of Jagex Limited and are used with the permission of Jagex.
      </p>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
