<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" sizes="16x16 32x32 48x48" href="/favicon.ico">
</head>

<body>

    <header>
        <div id="gloopy">
            <a href="{{ site.url }}" title="Weird Gloop">
                <picture>
                    <source media="(max-width: 450px)" alt="Weird Gloop" srcset="/images/Weird-Gloop-bucket.png 1x, /images/Weird-Gloop-bucket@2x.png 2x">
                    <img src="/images/Weird-Gloop-logo.png" alt="Weird Gloop" srcset="/images/Weird-Gloop-logo@2x.png 2x">
                </picture>
            </a>
        </div>
    </header>

    {{ content }}

    <footer>
      <hr>

      <ul class="links">
        <li><a href="/licensing/">Licensing</a></li>
        <li><a href="/terms/">Terms of Use</a></li>
        <li><a href="/privacy/">Privacy</a></li>
        <li><a href="https://meta.weirdgloop.org/w/Special:Contact">Contact</a></li>
      </ul>

      <hr>

      <p class="legal">
        &copy; 2018 Weird Gloop Ltd, The Apex, 2 Sheriffs Orchard, Coventry, England, CV1 3PP, UK.<br>
        RuneScape and RuneScape Old School are the trademarks of Jagex Limited and are used with the permission of Jagex.
      </p>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>