<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/images/browsers/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/images/browsers/favicon.svg" />
    <link rel="shortcut icon" href="/images/browsers/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/browsers/apple-touch-icon.png" />
    <link rel="manifest" href="/images/browsers/site.webmanifest" />
</head>

<body>
    <div class="outer-container">
        <header>
            <div style="margin: 1em 0;">
                <a href="{{ site.url }}" title="Weird Gloop">
                    <img src="/images/Weird-Gloop-logo.png" alt="Weird Gloop" width="200px">
                </a>
            </div>
        </header>

        <div class="inner-container">
            <div style="margin: auto; gap: 1em; justify-content: center;">
                {{ content }}
            </div>
        </div>

        <footer>
            <div class="links">
                <a href="/blog/">Blog</a> ·
                <a href="https://meta.weirdgloop.org/w/Meta:Copyrights">Licensing</a> ·
                <a href="/terms/">Terms of Use</a> ·
                <a href="/privacy/">Privacy</a> ·
                <a href="https://meta.weirdgloop.org/">Meta Wiki</a> ·
                <a href="/contact/">Contact</a>
            </div>
        </footer>
    </div>

    <script type="application/javascript">
        document.querySelectorAll('.links a[href="' + window.location.pathname + '"]').forEach(link => link.className += 'current-page');
    </script>
</body>

</html>
