<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
<div class="outer-container">
    <header>
        <div style="margin: 1em 0;">
            {{ page.logo }}
        </div>
    </header>

    <div class="inner-container">
        <div style="margin: auto; gap: 1em; justify-content: center;">
            {{ content }}
        </div>
    </div>

    <footer>
        ::CLIENT_IP:: · ::RAY_ID::
    </footer>
</div>

<script type="application/javascript">
    document.querySelectorAll('.links a[href="' + window.location.pathname + '"]').forEach(link => link.className += 'current-page');
</script>
</body>

</html>
