<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <div class="error-page">
      {{ content }}

      <footer>
        <hr>
  
        <p class="legal">
          &copy; 2018 Weird Gloop Ltd, The Apex, 2 Sheriffs Orchard, Coventry, England, CV1 3PP, UK.<br>
          RuneScape and RuneScape Old School are the trademarks of Jagex Limited and are used with the permission of Jagex.
        </p>
      </footer>
    </div>
</body>

</html>