---
layout: default
---
<div class="blog-post">
    <span><a href="/blog/">&larr; Blog</a></span>
    <h1>{{page.title}}</h1>

    <p class="blog-subtitle">{{ page.date | date: "%-d %B %Y" }}{% if page.author %} &#183; <span class="author">{{ page.author }}</span>{% endif %}</p>

    <div class="blog-content">
        {% if page.featured_image %}
        <div class="text-center" style="max-width: 500px; height: auto; margin: auto auto 1em;"><img src="/images/posts/{{page.featured_image}}" alt="image" /></div>
        {% endif %}

        {{ content }}
    </div>
</div>
