---
---

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "normalize";
@import "variables";
@import "header";
@import "footer";
@import "home";
@import "blog";

body {
  background: $body-bg;
  color: $body-text;
  margin: auto;
  font-family: 'Noto Sans', 'Georgia', 'Palatino', serif;
  font-size: 1em;
  line-height: 1.5em;
}

b, strong {
  color: white;
}

.badge {
  background: $secondary;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: .8em;
  border: 1px solid $secondary-border;
}

.outer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner-container {
  flex-grow: 1;
  display: flex;
  padding: 2em;
  max-width: 1200px;
  margin: auto;
}

a {
  color: $accent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: lighten($accent, 10%);
}

hr {
  margin: 2em 0;
  border: 1px solid #2a2a2a;
}

h1 {
  color: #afafaf;
}

h2, h3, h4, h5, h6 {
  color: #e4baa5;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}

h1 {
  font-weight: 600;
  font-size: 1.8em;
  display: flex;
  line-height: 1.2em;
}

p {
  margin-top: 0;
}

.card h2, .card h3, .card h4, .card h5, .card h6 {
  margin-top: 0;
  color: white;
}

h1::after {
  content: "";
  width: 100%;
  border-bottom: 2px dashed $secondary-dark-border;
  position: relative;
  top: -14px;
  margin-left: 1em;
  flex-basis: 0;
  flex-grow: 1;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

.card {
  display: block;
  background: darken($secondary, 5%);

  .card-body {
    padding: 1em 1em;
  }

  .card-button {
    padding: 0.5em 1em;
    background: #222;
    font-size: .75em;
    text-align: center;
    border-top: 1px solid #3c3c3c;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
  }

  .card-title {
    margin: 0;
  }

  .card-subtitle {
    margin: 0;
    color: $muted;
  }
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .error-page {
    text-align: center;
    color: #FFF;

    a {
      color: #6cd5ff;
    }
  }

  .cloudflare {
    font-size: 12px;
    line-height: 1.25em;
    text-align: left;

    h1 {
      font-size: inherit;
      font-weight: 600;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}

.error-image {
  margin-bottom: 1em;

  img {
    border-radius: 5px;
  }
}

pre,
code {
  color: #a3a3a3;
  background: $secondary;
  padding: .25em;
  border-radius: 5px;
}

.toc,
#markdown-toc {
  background: $secondary;
  padding: 0 0 0.25em;
  border-radius: 5px;
  margin-bottom: 2em;
  font-size: .8em;
  border: 1px solid $secondary-border;
  width: fit-content;

  &, li {
    list-style: none;
    line-height: 1.75em;
  }

  ul {
    padding-left: 1em;
  }

  a {
    color: #a7a7a7;
  }

  li {
    padding: 0 1em;
  }

  &::before {
    content: "Contents";
    padding: 0.1em 1em;
    border-bottom: 1px solid $secondary-border;
    display: block;
    color: #969696;
    background: #232222;
    border-radius: 5px 5px 0 0;
  }
}

@media only screen and (max-width: 535px) {
  .toc,
  #markdown-toc {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.text-center {
  text-align: center;
}

.cf-error-details {
  background: $secondary-dark;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  color: #757474;
  border: 1px solid $secondary-dark-border;
  font-size: .9em;

  h1 {
    display: none;
  }
}


